.main-content {
  margin-top: 20px; /* Ajusta el espacio según el tamaño de tu navbar */
  margin-bottom: 9px; /* Ajusta el espacio según el tamaño de tu footer */
  width: 100%;
}

.container {
  width: 100%;  /* Asegura que el contenedor ocupe todo el ancho */
  padding: 0;  /* Elimina cualquier padding extra */
}

/* Footer debe ocupar todo el ancho y ser fijo al bottom */
.footer {
  width: 100%; /* Ocupa todo el ancho */
  position: fixed; /* Fijado en la parte inferior */
  bottom: 0;
  left: 0;
  z-index: 1000; /* Para que se mantenga encima de otros elementos */
  background-color: #333; /* Color de fondo para el footer */
  color: #fff; /* Color de texto */
  text-align: center;  /* Centrado de texto */
  padding: 10px 0; /* Espaciado vertical */
}

.navbar {
  width: 100%; /* Ocupa todo el ancho */
  position: fixed; /* Fijado en la parte superior */
  top: 5;
  left: 0;
  z-index: 1000; /* Para que se mantenga encima del contenido */
}
